@charset "utf-8";
body {
	background-color: #202020;
	font-family: 'Roboto', sans-serif;
	color: #b9b9b9;
	font-size:14px;
}
h1,h2 {
	font-family: 'Roboto Condensed', sans-serif;
}

.Page {
	max-width: 920px;/*50em;*/
    margin: 0 auto;
	/*min-height:100%;*/
	
	/*position:relative;*/
}
strong{
	color: #e7e7e7;
}

h1{
	font-size:32px;
	color: #e5e5e5;
	text-shadow: 0px 2px 2px #000000;
}
h2{
	text-shadow: 0px 1px 1px #6c6c6c;
	color: #222222;
}
h3{
	color: #bebebe;
	text-align: center;
}


.Info{
	background-color: #333333;
	padding: 8px;
	/*background-color: #464646;*/
	border-radius: 4px;
	box-shadow: 0px -2px #2a2a2a;
	/*border: 1px solid  #636363;*/
	margin-top:12px;
	margin-bottom:12px;
	padding-top:2px;
	padding-bottom:2px;
}


.New {
	float: right;
}


hr {
	/*background-color: #fff;*/
	color:#2b2b2b; 
	background-color:#2b2b2b; 
	height:6px; 
	border:none;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.7);
	margin-top: 32px;
}

a:not(.NoButton){
	border-style: solid;
    border-width: 4px 6px 4px 6px;
    border-image: url(images/style_link.png) 4 6 4 6 fill stretch;
    text-decoration: none;
    padding: 0px;
    color: #d8d8d8;
    margin-left: 4px;
    margin-right: 4px;
    /*max-width: 100%;*/
    /*float: right;*/
    display: block;
}

a.NoButton:link, a.NoButton:visited, a.NoButton:hover, a.NoButton:active {
	color: #ae7f37;
}


.Panel{
	padding: 12px;
	background-color: #464646;
	border-radius: 8px;
	box-shadow: 0px 3px #131313;
	border: 1px solid  #636363;
}
.Columns2 {
	column-count: 2;
	column-gap: 40px;
	column-rule: 1px solid #202020;
}
.Columns3 {
	column-count: 3;
	column-gap: 40px;
	column-rule: 1px solid #202020;
}
.Columns4 {
	column-count: 4;
	column-gap: 40px;
	column-rule: 1px solid #202020;
}

.Content:not(:last-child):after {
	/*background-color: #333;*/
	content: "";
	display: inline-block;
	/*height: 1px;*/
	position: relative;
	/*vertical-align: middle;*/
	width: 100%;

	background-color:#484848; 
	height:2px; 
	border:none;
	box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.4);
	/*margin-top: 32px;*/
}



.Content {
	/*column-span: all;*/
	margin-top: 0px;
	padding-top: 0px;
	/*vertical-align: top;*/
	width: 100%;
	border-color: #FF383B;
	break-inside: avoid-column;

	/*display:inline-block*/
}
.Content h2 img:not(.New) {
	/*padding-top:-12px;*/
	height:24px;
	width:24px;
}
.Content p img:not(.Icon){
	max-width: 100%;
    height: auto;   
	
	/*Center*/
	display: block;
    margin-left: auto;
    margin-right: auto;
	
	border: 1px solid #393939;
	border-radius: 4px;
	/*box-shadow: 0px -2px 0px 0px #222222;*/
}

.Icon{
	
}
